.containerS {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.containerS .glass {
    
    position: relative;
    width: 260px;
    height: 200px;
    border: 1px solid #dee2e6; 
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 3px;
    gap: 0.4em;
    backdrop-filter: blur(10px);
    transform: rotate(calc(var(--r) * 1deg));
    flex-direction: column;
        font-weight: 100;
    
}

.containerS:hover .glass {
    transform: rotate(0deg);
    margin: 0 10px;
}

.containerS .glass::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7A80AC;
}
.containerS .glass strong {
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1300 - 300)));
    font-weight: 500;
        font-family: 'Baloo Paaji', cursive;
        color: #7A80AC;
}
.containerS .glass svg {
    font-size: 2.5em;
    fill: #7A80AC;
}
